body {
    background-color: rgb(125, 125, 133);
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    margin: 8px;
}

#sketchPad {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex: 1 100%;
    flex-direction: column;
    flex-basis: 100%;
    height: 100%;
    align-self: stretch;
}

.rowDiv {
    display: flex;
    flex: 1;
    background-color: rgb(255, 255, 255);
    height: 100%;
    border-radius: 8px;
    margin: 1px;
}

.columnDiv {
    background-color: aliceblue;
    display: flex;
    flex: 1;
    margin: 1px;
}